<ul class="list-unstyled">
  <li class="card">
    <div class="card-header">Buy Taco Shells</div>
    <div class="card-body">For Jeff</div>
    <div class="card-footer">Due By: 12/24/2021

      <button class="btn btn-sm btn-primary">I've Purchased This!</button>
    </div>
  </li>

  <li class="card">
    <div class="card-header">Human Highway on VHS</div>
    <div class="card-body">For Ryan</div>
    <div class="card-footer">Due By: 12/25/2021
      <button class="btn btn-sm btn-primary">I've Purchased This!</button>

    </div>
  </li>
  <li class="card">
    <div class="card-header">Kali Linux for Beginners</div>
    <div class="card-body">For Lindsay</div>
    <div class="card-footer  alert-success">You purchased this on 12/15/2021</div>
  </li>
</ul>
